/*
  Name: Hanyang Yu & Brian Yuan
  Date: May 7, 2023
  This is the styles.css page for final project.
*/
body {
  font-family: 'Coda Caption', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #050505;
}

header {
  background-color: #050505;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #4adeff;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

nav {
  margin-top: 10px;
}


nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Product grid styles */
.pet.on {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.pet.off {
  padding: 10px;
}

h2 {
  color: #f3efef;
}

.product {
  background-color: #050505;
  border: 1px solid #f3efef;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  width: 25%;
  height: auto;
  margin: auto;
}

.product img {
  width: 200px;
  height: 200px;
}

.product h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 10px;
}

.product p {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 10px;
}

.product button {
  background-color: #2c3e50;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.description {
  color: #4adeff;
}

.product button:hover {
  border: 1px solid #2c3e50;
  color: red;
}

.price, #product-price {
  font-size: 24px;
  color: #00ff88;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.back-button {
  padding: 10px;
  background-color: #ff4c4c;
  color: #171616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


#form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

#username, #password {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

#submit{
  padding: 10px;
  background-color: #ff4c4c;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #ff0000;
}


#status {
  text-align: center;
  color: #ff4c4c;
  font-weight: bold;
}


#container2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#Recproducts {
  text-align: center;
  color: #f6eeee;
}

#product-image {
  text-align: center;
}

#product-image img {
  max-width: 300px;
}

.product-details {
  margin-top: 20px;
  text-align: center;
}

#seller-info {
  font-size: 24px;
  color: #ff4c4c;
}

.product-description {
  font-size: 16px;
  margin: auto;
  color: #4adeff;
}

.product-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.buy-button,
.add-to-cart-button {
  padding: 10px 20px;
  background-color: #ff4c4c;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.buy-button:hover,
.add-to-cart-button:hover {
  background-color: #ff0000;
}

.product-info {
  margin-bottom: 20px;
}


.shipping-info {
  text-align: center;
}

.shipping-info p {
  margin: 0;
}

.shipping-info .info-label {
  color: #ff4c4c;
}

.shipping-info .info-value {
  color: #fff;
}

#purchase-history p {
  color: #fff;
}

footer {
  background-color: #050505;
  color: #fff;
  padding: 20px;
  text-align: center;
}