/*
  Name: Hanyang Yu & Brian Yuan
  Date: May 7, 2023
  This is the styles.css page for final project.
*/
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #050505;
}

header {
  background-color: #050505;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #4adeff;
  font-size: 3rem;
  margin: 0;
}

nav {
  margin-top: 10px;
}


nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Product grid styles */
.pet.on {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.pet.off {
  padding: 10px;
}

h2 {
  color: #f3efef;
}

.product {
  background-color: #050505;
  border: 1px solid #f3efef;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  width: 25%;
  height: auto;
  margin: auto;
}

.product img {
  max-width: 50%;
}

.product h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 10px;
}

.product p {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 10px;
}

.product button {
  background-color: #2c3e50;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.product button:hover {
  border: 1px solid #2c3e50;
  color: red;
}

.price {
  font-size: 24px;
  color: #00ff88;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

footer {
  background-color: #050505;
  color: #fff;
  padding: 20px;
  text-align: center;
}